.Node {
  position: absolute;
  border: 1px solid white;

  max-width: 150px;
  word-wrap: break-word;
  padding: 2px;
}

.Container {
  position: absolute;
  left: 0;

  width: 1024px;
  height: 960px;
}
